name: Terraform Destroy - Proyecto 1

on:
  workflow_dispatch:  # Solo ejecución manual

jobs:
  destroy:
    name: Destroy Infrastructure
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Código
        uses: actions/checkout@v4

      # ---------------------------
      # CONFIGURAR CREDENCIALES AWS
      # ---------------------------
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # ---------------------------
      # INSTALAR TERRAFORM
      # ---------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      # ---------------------------
      # TERRAFORM INIT
      # ---------------------------
      - name: Terraform Init
        env:
          TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
          # Variables dummy para que init funcione
          TF_VAR_image: "dummy"
          TF_VAR_prometheus_image: "dummy"
          TF_VAR_alertmanager_image: "dummy"
          TF_VAR_grafana_image: "dummy"
          TF_VAR_ui_allowed_cidr: "0.0.0.0/0"
        run: terraform -chdir=terraform init

      # ---------------------------
      # TERRAFORM DESTROY (CONFIRMACIÓN)
      # ---------------------------
      - name: Terraform Destroy
        env:
          TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
          # Variables dummy
          TF_VAR_image: "dummy"
          TF_VAR_prometheus_image: "dummy"
          TF_VAR_alertmanager_image: "dummy"
          TF_VAR_grafana_image: "dummy"
          TF_VAR_ui_allowed_cidr: "0.0.0.0/0"
        run: terraform -chdir=terraform destroy -auto-approve